<form [formGroup]="myForm">
    <input type="radio" formControlName="charttype" value="line"> Line
    <input type="radio" formControlName="charttype" value="pie"> Pie
    <input type="radio" formControlName="charttype" value="bar"> Bar
    <input type="radio" formControlName="charttype" value="stacked"> Stacked
</form>
<div class="wrapper">
    <div class="side">
        <div class="chart">
            <canvas mdbChart
                [chartType]="chartType"
                [datasets]="chartDatasets"
                [labels]="chartLabels"
                [colors]="chartColors"
                [options]="chartOptions"
                [legend]="true">
            </canvas>
        </div>
    </div>
    <div class="side">
        <div #tableItem class="table-item"></div>
        <button type="button" (click)="insertRow()">Insert row</button>
    </div>
</div>